#!/bin/sh
###########################
#    脚本环境变量配置
###########################
#应用名称
app_name="broadcast"
#应用目录,默认使用当前文件所在目录
app_home="`dirname $0`/"
#启动app文件名
app_file_name="broadcast*.war"
#脚本工作日志
log_file=${broadcast_home}logs/${app_name}.service.log
#日志记录
app_log_file=${app_home}logs/logs_`date +%Y-%m-%d`.log
#pid 记录文件
pid_file=${app_home}${app_name}.pid
#GC日志文件存储位置
GC_LOG_FILE=${app_home}logs/gc-log_`date +%Y-%m-%d`.log
#JAVA运行参数
JAVA_OPTS=""

#Jvm内存结构图示#
#################################################################
# 堆内存 | 非堆内存 #
#---------------------------------------------------------------#
# 年轻代 | 老年代 | Metaspace #
#---------------------------------------------------------------#
# Eden | Sur1 | Sur2 | old | Metaspace #
##################################################################
#设定最大堆内存
JAVA_OPTS="$JAVA_OPTS -Xmx3g"
#设置最小堆内存
JAVA_OPTS="$JAVA_OPTS -Xms3g"
#堆内存中年轻代大小, 老年代通过堆内存-年轻代自动计算得出
JAVA_OPTS="$JAVA_OPTS -Xmn2560m"
#年轻代中Eden区与Survivor区的大小比值(2:4 = 两个survivor大小:Eden大小,即每个survivor为1/6,Eden为4/6)
JAVA_OPTS="$JAVA_OPTS -XX:SurvivorRatio=4"
#非堆MetaspaceSize初始大小,超过此值会触发GC
JAVA_OPTS="$JAVA_OPTS -XX:MetaspaceSize=300m"
#禁用主动触发GC
JAVA_OPTS="$JAVA_OPTS -XX:+DisableExplicitGC"

#设定打印GC详情日志
#-XX:+PrintGC 输出GC日志
#-XX:+PrintGCDetails 输出GC的详细日志
#-XX:+PrintGCTimeStamps 输出GC的时间戳（以基准时间的形式）
#-XX:+PrintGCDateStamps 输出GC的时间戳（以日期的形式，如 2013-05-04T21:53:59.234+0800）
#-XX:+PrintHeapAtGC 在进行GC的前后打印出堆的信息
#-Xloggc:../logs/gc.log 日志文件的输出路径
#-XX:+PrintTenuringDistribution 指定JVM 在每次新生代GC时，输出幸存区中对象的年龄分布
JAVA_OPTS="$JAVA_OPTS -Xloggc:${GC_LOG_FILE} -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintHeapAtGC -XX:+PrintTenuringDistribution"

#配置远程jconsole连接
#在jconsole中输入 ${hostname}:${port}即可连接
JAVA_OPTS="$JAVA_OPTS -Djava.rmi.server.hostname=192.168.1.8 -Dcom.sun.management.jmxremote"
JAVA_OPTS="$JAVA_OPTS -Dcom.sun.management.jmxremote.port=8888"
JAVA_OPTS="$JAVA_OPTS -Dcom.sun.management.jmxremote.rmi.port=8889"
JAVA_OPTS="$JAVA_OPTS -Dcom.sun.management.jmxremote.authenticate=false"
JAVA_OPTS="$JAVA_OPTS -Dcom.sun.management.jmxremote.ssl=false"
